{% extends "baresoil/base1.html" %}
{% load static %}

{% block title %}Select NDVI value{% endblock %}

{% block head %}  {% endblock %}

{% block panel %}
<form action= {% url 'ndvi' %} method="POST" id="ndviform">{% csrf_token %}
    <nav class="panel">
        <p class="panel-heading">
        Select a NDVI range
        </p>
        <div class="panel-block">
            Allowed values are between 0 and 0.500
        </div>
        <div id="ndvi_low" name="ndvi_low" class="field px-3 pt-5">{{ ndviform.ndvi_low.label_tag }}
            {{ ndviform.ndvi_low }}</div>
        <div id="ndvi" name="ndvi" class="field px-3 pb-5">{{ ndviform.ndvi.label_tag }}
            {{ ndviform.ndvi }}</div>
        <div id="mnth">{{ ndviform.mnth }}</div>
        <div id="yr">{{ ndviform.yr }}</div>
        <div id="nelat">{{ ndviform.nelat }}</div>
        <div id="nelng">{{ ndviform.nelng }}</div>
        <div id="swlat">{{ ndviform.swlat }}</div>
        <div id="swlng">{{ ndviform.swlng }}</div>
        <div id="calculated">{{ ndviform.calculated }}</div>
    </nav>
{% endblock %}

{% block map %}
    {% if invalid_input == "noNDVI" %}
    <div class="notification is-warning">
        <strong>You need to select a date, an area and a valid NDVI value. </strong>
    </div>
    {% elif invalid_input == "nocalc" %}
    <div class="notification is-warning">
        <strong>You need to calculate the bare soil area first. </strong>
    </div>
    {% elif invalid_input == "success" %}
    <div class="notification is-success">
        <strong>Layers successfully saved. </strong>
    </div>
    {% endif %}
    <div id = 'map_ndvi'>{{ndvi_map|safe}}</div>
    <div class="column">After selecting a NDVI value, 
        click "Calculate" to obtain the bare field layer.
        Once you are happy with it, click "Save".</div>
    <button class = "button is-success is-pulled-left" id = "calc" name = "calc" 
        type="submit">Calculate</button>
    <button class = "button is-success is-pulled-right" id = "download" name = "down" type = "submit">
        Save</button>
</form>
{% endblock %}

{% block script %}
{% endblock %}